<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra - Somemmer</title>
    <link rel="stylesheet" href="public/css/compra.css">
</head>
<body>
    <header>
        <div class="back">
            <a href="/">
                <img src="public/images/assets/Arrow Left.png" alt="" srcset="">
            </a>
        </div>
    </header>
    <main>
        <div class="product-details">
            <img src="#" alt="kelas coisa">
            <h2>nome produto</h2>
            <p>Preço: R$ </p>
            <p>Quantidade disponível: </p>
        </div>
        
        <form action="/finalizar-compra" method="POST">
            <input type="hidden" name="id_produto" value="<%= produto.id_produto %>">
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" min="1" max="<%= produto.qtd_produto %>" required>
            
            <label for="tipo-pagamento">Tipo de pagamento:</label>
            <select id="tipo-pagamento" name="tipo_pagamento" required>
                <option value="cartao_credito">Cartão de Crédito</option>
                <option value="boleto">Boleto</option>
                <option value="pix">Pix</option>
            </select>

            <button type="submit">Finalizar Compra</button>
        </form>
    </main>
</body>
</html>
